#fourth {
  position: relative;
  width: 150px;
  #fourth-button {
    position: absolute;
    color: #fff;
    left: 5px;
    z-index: 9999;
    width: 150px;
    height: 40px;
    border: solid #fff 2px;
    background-color: #ffd400;
    &:hover + #hover {
      transform: translate(-5px, -10px);
    }
  }
  #hover {
    transform: translate(15px, 10px);
    position: absolute;
    height: 38px;
    width: 150px;
    background-color: #e30e0e;
    transition-duration: 200ms;
  }
}


